<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCqFz6_KC5myD9PPhffSxZ92bPaKchn7JA</string>
	<key>GCM_SENDER_ID</key>
	<string>208020717116</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>bhuwan.ToDoList</string>
	<key>PROJECT_ID</key>
	<string>swiftuitodolist-a9722</string>
	<key>STORAGE_BUCKET</key>
	<string>swiftuitodolist-a9722.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:208020717116:ios:5673e1acde778ad9d30d39</string>
</dict>
</plist>